<div class="container-fluid" style="background-image:url('img/backimg7.jpg');background-size:cover;padding-top:50px;">

<div style="width:350px;height:500px;margin:auto;">
<div ng-show="flag">

<div class="alert alert-warning">
   {{message}}
     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
</div>


<form  name="myForm"  ng-submit="myForm.$valid && change()" novalidate>
<div class="form-group has-feedback" ng-class="{ 'has-error': myForm.$invalid}">
<br>

 

 
 <input type="password" class="form-control" name="password" placeholder="Old Password" style="background-color:#e0e0eb;" ng-model="member.password" required minlength="6">

<div ng-show="myForm.$submitted || myForm.password.$touched" style="margin-top:0px;">


						<div ng-show="myForm.password.$error.required"><p class="text-danger" style="font-size:15px;font-weight:bold;"> please enter password</div>

						<div ng-show="myForm.password.$error.minlength"><p class="text-danger" style="font-size:15px;font-weight:bold;"> password length is short.(minlenght=6)
						</div>
						</div>
						
		
		<input type="password" class="form-control" name="npassword" placeholder="New Password" style="background-color:#e0e0eb;" required minlength="6">

<div ng-show="myForm.$submitted || myForm.npassword.$touched" style="margin-top:0px;">

<div ng-show="myForm.password.$valid">
						<div ng-show="myForm.npassword.$error.required"><p class="text-danger" style="font-size:15px;font-weight:bold;"> please enter password</div>

						<div ng-show="myForm.npassword.$error.minlength"><p class="text-danger" style="font-size:15px;font-weight:bold;"> password length is short.(minlenght=6)
						</div>
						</div>
						
		</div>
		<input type="password" class="form-control" name="repassword" placeholder="Re-enter Password" style="background-color:#e0e0eb;" ng-model="member.newpassword" required minlength="6">

<div ng-show="myForm.$submitted || myForm.repassword.$touched" style="margin-top:0px;">

<div ng-show="myForm.emailid.$valid">
						<div ng-show="myForm.repassword.$error.required"><p class="text-danger" style="font-size:15px;font-weight:bold;"> please enter password</div>

						<div ng-show="myForm.repassword.$error.minlength"><p class="text-danger" style="font-size:15px;font-weight:bold;"> password length is short.(minlenght=6)
						</div>

							<div ng-show="user.npassword!=user.repassword"><p class="text-danger" style="font-size:15px;font-weight:bold;"> passwords does not match
						</div>
						</div>
						
		</div>
<button type="submit" class="button button-positive" value="Change Password">Change Password</button>&nbsp;&nbsp;


</div>
</form>
</div>
</div>

